<div class="resize-row resize-main-grid"></div>
<div class="resize-col resize-main-grid"></div>

<div class="list artists">
    <h2>Artists</h2>
    <div class="body playable-list">

    </div>
</div>

<div class="list albums">
    <h2>Albums</h2>
    <div class="body playable-list">

    </div>
</div>


<!--FIXME: duplicated in ./track_list.hbs-->
<div class="list tracks">
    <div class="head-wrap">
        <table class="head">
            <tr>
                <td data-order-field="number"></td>
                <td data-order-field="title">Track</td>
                <td data-order-field="artist">Artist</td>
                <td data-order-field="album">Album</td>
            </tr>
        </table>
    </div>
    <div class="body playable-list">

    </div>
</div>
