<h3 draggable="true">
    <span class="name" title="Show tracks">
        <img src="{{images.medium}}" />
        {{name}}
        <span class="meta">
            {{#if subtypes}}
                <span class="type">{{subtypes}}</span>
            {{/if}}
        </span>
    </span>
</h3>
<div class="body">

    <div class="buttons">
        <span class="button play-all toggle icon-play" title="Play album">Play Album</span>
        <!--<span class="button add-all toggle icon-plus" title="Add album to collection"></span>-->
    </div>

    <div class="tracklist">

    </div>

</div>
