<!-- FIXME: duplicated in ./playlist_browse.hbs -->
<div class="list tracks">
    <div class="head-wrap">
        <table class="head">
            <tr>
                <td></td>
                <td>Name</td>
            </tr>
        </table>
    </div>
    <div class="body playable-list">

    </div>
</div>
