<form action="">

    <p>
        <label>
            <input type="checkbox" value="1" name="desktop_notifications" {{#if desktop_notifications}}checked{{/if}} />
            Enable desktop notifications
        </label>
    </p>
    <p>
        <label>
            <input type="checkbox" value="1" name="confirm_exit" {{#if confirm_exit}}checked{{/if}} />
            Confirm exit while music is still playing
        </label>
    </p>

</form>
