<div id="main">

    <div id="nav-sidebar" class="sidebar">


        <section class="explore">
            <h2><a href="/">Cloudtunes</a></h2>

            <ul></ul>

        </section>

        <section class="collection">
            <h2>Collection</h2>

            <ul class="builtin-playlists">
            </ul>
        </section>

        <section class="playlists">
            <h2>Playlists</h2>

            <ul class="user-playlists"></ul>

            <div class="tools">
                <div class="button add create-playlist">
                    <i class="icon-plus-sign"></i>
                    New Playlist
                </div>
            </div>

        </section>

        <section class="user">

            <div class="profile"></div>

            <div class="settings">
                <a href="/settings">
                    <i class="icon-cog"></i>
                </a>
            </div>
        </section>


    </div>
    <div class="resize-col resize-nav-sidebar"></div>

    <div id="page"></div>


    <div id="info-sidebar" class="sidebar">

        <div id="medium"></div>
        <div id="player"></div>

    </div>
    <div class="resize-col resize-info-sidebar"></div>

</div>

<div id="menu">
    <div class="pointer"></div>
</div>
