<header>
    <h2>{{pageName}}</h2>
    <nav>
        {{#each sections}}
            <a href="{{url}}" class="{{className}}">{{name}}</a>
        {{/each}}
    </nav>
</header>

<div class="content"></div>
