
<div class="slider position">
    <div class="loaded"></div>
    <div class="elapsed"></div>
    <div class="pos"></div>
</div>

<div class="buttons">

    <div class="playback">
        <div class="button prev icon-backward"></div>
        <div class="button toggle icon-play"></div>
        <div class="button next icon-forward"></div>
    </div>

    <div class="settings">

        <div class="button repeat icon-repeat"></div>

        <div class="volume-widget closed">

            <div class="button icon-volume-up volume-icon"></div>

            <div class="volume-popup">

                <div class="slider volume">
                    <div class="elapsed"></div>
                    <div class="pos"></div>
                </div>

                <div class="button icon-volume-up volume-icon"></div>

            </div>

        </div>
    </div>

</div>




<div class="track"></div>
